{% extends "base.html" %}
{% block content %}

<h2>Active Shipments</h2>

<div id="ongoing-list"
     hx-get="{% url 'ongoing_view' %}"
     hx-trigger="load, reloadOngoingList from body" 
     hx-swap="innerHTML">
</div>

<div class="modal fade" id="logsModal" tabindex="-1" aria-labelledby="logsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logsModalLabel">Shipment Activity Log</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-logs">
        Loading log data...
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body" id="modal-body-details">
            Loading details...
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="mainModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-content"> 
       <div class="modal-body" id="modal-body">
         Loading...
       </div>
    </div>
  </div>
</div>
{% endblock %}
